{% if files %}
    <ul class="list-group rounded-4">
        {% for file in files %}
            <li class="list-group-item py-3 pe-4">
                {% if file.file_type == "file" %}
                    {% set item = file.file %}
                    {% set link = item.url %}
                {% else %}
                    {% set item = "" %}
                    {% set link = file.link %}
                {% endif %}
                                    
                <a href="{{link}}" class="text-primary" target="_blank">
                    <div class="row align-items-center g-0">
                        <div class="col-auto p-3 d-sm-block d-none">
                            {% set font = "fal" %}
                            {% if item %}
                                {% set extension = function("get_extension", link) %}
                                {% if extension in ["jpg", "jpeg", "png", "gif", "webp", "avif", "bmp"] %}
                                    {% set file_type = "file-image" %}
                                {% elseif extension in ["doc", "docx", "ppt", "pptx", "rtf", "vnd.openxmlformats-officedocument.presentationml.presentation", "vnd.openxmlformats-officedocument.wordprocessingml.document"] %}
                                    {% set file_type = "file" %}
                                {% elseif extension in ["apk", "vnd.android.package-archive"] %}
                                    {% set file_type = "android" %}
                                    {% set font = "fa-brands" %}
                                {% else %}
                                    {% set file_type = "file-" ~ extension %}
                                {% endif %}
                            {% else %}
                                {% set file_type = "file-arrow-down" %}
                            {% endif %}
                            <i class="icon {{font}} fa-{{file_type}} fa-2x me-3"></i>
                        </div>
                        <div class="col-sm-8">
                            <{{fields.heading_item|default("h3")}} class="title lh-1 mb-2">
                                {{file.title}}
                            </{{fields.heading_item|default("h3")}}>
                            {% if item %}
                                <div class="description text-gray">{{ function("convert_filesize", item.filesize, 2) }}</div>
                            {% endif %}
                        </div>
                        <div class="col-download col text-end">
                            <i class="icon fa-thin fa-angle-right ms-lg-4 ms-auto"></i>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
