{% set file_groups = post.get_files %}
                    {% if file_groups %}
                        <div class="list-files mt-5">
                        {% for group in file_groups %}
                            <div class="list-files-item">
                                <h3 class="title ps-3 mb-3">{{ group.title }}</h3>
                                <ul class="list-group rounded-4">
                                    {% for key, file in group.files %}
                                        <li class="list-group-item">
                                            <a href="{{file.file.url}}" class="" download="">
                                                <div class="row align-items-center g-0">
                                                    <div class="col-auto p-3 d-sm-block d-none">
                                                        {% set font = "fal" %}
                                                        {% if file.file.subtype in ["jpg", "jpeg", "png", "gif"] %}
                                                            {% set file_type = "file-image" %}
                                                        {% elseif file.file.subtype in ["doc", "docx", "ppt", "pptx", "rtf", "vnd.openxmlformats-officedocument.presentationml.presentation", "vnd.openxmlformats-officedocument.wordprocessingml.document"] %}
                                                            {% set file_type = "file" %}
                                                        {% elseif file.file.subtype in ["apk", "vnd.android.package-archive"] %}
                                                            {% set file_type = "android" %}
                                                            {% set font = "fa-brands" %}
                                                        {% else %}
                                                            {% set file_type = "file-"~file.file.subtype %}
                                                        {% endif %}
                                                        <i class="icon {{font}} fa-{{file_type}} fa-3x me-3"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <h4 class="title text-truncate">
                                                            {{file.title}}
                                                            {% if file.description %}
                                                                <small>
                                                                    {{file.description}}
                                                                    {#<p class="card-text"><small class="text-muted">{{translate("Eklenme Tarihi")}} {{file.file.date|time_ago}}</small></p>#}
                                                                </small>
                                                            {% endif %}
                                                        </h4>
                                                    </div>
                                                    <div class="col-download col text-end">
                                                        <div>{{ function("convert_filesize", file.file.filesize, 2) }}</div>
                                                        <i class="icon fa-thin fa-angle-right ms-lg-4 ms-auto"></i>
                                                    </div>
                                                </div>
                                                <div class="d-none">
                                                {{ file.title }} - {{ file.description }}<br>
                                                check title {{function("acf_get_raw_value",post.id, "title", "files", key)}}<br>
                                                {{ file.file.terms("dosya-tipi") }}
                                                {#function("wp_get_post_terms", file.file.ID, "dosya-tipi")|print_r#}
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}