{% if enable_cart %}
    {% if menu_type == "dropdown" %}
       {% set toggle = "dropdown" %}
       {% set class =  menu_class ~ " dropdown dropdown-notifications dropdown-form" %}
       {% set target = "" %}
    {% else %}
       {% set toggle = "offcanvas" %}
       {% set class = menu_class ~ "" %}
       {% set target = "offcanvasCart" %}
    {% endif %}

    <div class="nav-item {{class}}" data-type="cart">
    
        <a href="#" role="button" data-bs-toggle="{{toggle}}" data-bs-target="#{{target}}" aria-controls="{{target}}" title="{{ translate("Shopping Cart") }}">
            {% set cart_count = user.cart.count %}
            <div class="notification-count {% if cart_count == 0 %}d-none{% endif %}">{{cart_count}}</div>
            <i class="fal fa-shopping-basket"></i>
        </a>

        {% if menu_type == "dropdown" %}
            <div class="dropdown-menu">
                <div class="dropdown-header">
                    <div class="title">{{ translate("My Cart") }}</div>
                    <div class="action">
                        <a href="#" data-dismiss="dropdown">{{ translate("Close") }}</a>
                    </div>
                </div>
                <div class="dropdown-container load-container">
                    <div class="dropdown-body scrollable">
                        <div class="content">
                            <div class="content-block">
                                <i class="fal fa-shopping-basket"></i>
                                {{ translate("Your cart is empty.") }}
                                <a class="btn btn-orange btn-extend btn-sm" href="{{ function('esc_url', function('apply_filters', 'woocommerce_return_to_shop_redirect', function('wc_get_page_permalink', 'shop' ) ) ) }}">
                                    {{ translate("Start Shopping") }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
    </div>
{% endif %}
