{% if enable_favorites %}
    {% if menu_type == "dropdown" %}
       {% set toggle = "dropdown" %}
       {% set class =  menu_class ~ " dropdown dropdown-notifications dropdown-form" %}
       {% set target = "" %}
    {% else %}
       {% set toggle = "offcanvas" %}
       {% set class = menu_class ~ "" %}
       {% set target = "offcanvasFavorites" %}
    {% endif %}

    <li class="nav-item {{class}} {% if user and favorites|length > 0 %}active{% endif %}" data-type="favorites">
        <a href="#{{target}}" role="button" data-bs-toggle="{{toggle}}" aria-controls="{{target}}">
            <i class="fal fa-heart"></i>
        </a>
        
        {% if menu_type == "dropdown" %}
        <div class="dropdown-menu">
            <div class="dropdown-header">
                <div class="title">{{'MY FAVORITES'|trans}}</div>
                <div class="action">
                    <a href="#" data-dismiss="dropdown">{{'Close'|trans}}</a>
                </div>
            </div>
            <div class="dropdown-container">
                <div class="dropdown-body scrollable">
                    <div class="content-centered">
                        <div class="content-block">
                            <i class="icon-heart-o"></i>
                            {{'Your favorite list is empty.'|trans}}
                            <a class="btn btn-primary btn-extend btn-sm" href="{{ function('esc_url', function('apply_filters', 'woocommerce_return_to_shop_redirect', function('wc_get_page_permalink', 'shop' ) ) ) }}">
                                {{'Look Our Tours'|trans}}!
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dropdown-footer d-none">
                    <a href="{{function('get_account_endpoint_url', 'my-favorites')}}" class="btn btn-md- btn-primary btn-block">
                        {{'VIEW ALL'|trans}}
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        
    </li>
{% endif %}