{% if enable_membership %}
    {% if menu_type == "dropdown" %}
       {% set toggle = "dropdown" %}
       {% set class =  class ~ " dropdown dropdown-notifications dropdown-form" %}
       {% set target = "" %}
    {% else %}
       {% set toggle = "offcanvas" %}
       {% set class = class ~ "" %}
       {% set target = "offcanvasUserMenu" %}
    {% endif %}

    <div class="nav-item {{class}}" data-type="account">
        <a href="#{{target}}" role="button" data-bs-toggle="{{toggle}}" aria-controls="{{target}}" title="{{ user.logged ? user.get_title() : translate("My Account") }}">
            {% if avatar %}
                {{avatar}}
            {% else %}
                {% if not user.logged and enable_registration %}
                <div class="btn btn-outline-dark">{{ translate("Sign Up") }}</div>
                {% endif %}
            {% endif %}
        </a>

        {% if menu_type == "dropdown" %}
        <div class="dropdown-menu">
            <div class="dropdown-header">
                <div class="title">
                    {% if user.logged %}
                        {{user.get_title()}}
                    {% else %}
                        {{ translate("Your Account") }}
                    {% endif %}
                </div>
                <div class="action">
                    <a href="#" data-dismiss="dropdown">{{ translate("Close") }}</a>
                </div>
            </div>
            <div class="dropdown-container has-dropdown-item">
                <div class="dropdown-body {% if not user.logged %}content-centered{% endif %}">
                    {% if user.logged %}
                        {% if user.menu %}
                            {% for item in user.menu %}
                                <a class="dropdown-item" href="{{item.url}}">{{item.title}}</a>
                            {% endfor %}
                        {% endif %}
                        <a class="dropdown-item" href="{{function('get_account_endpoint_url', 'customer-logout')}}">{{ translate("Logout") }}</a>
                    {% else %}
                        <div class="content-block">
                            <i class="icon-account"></i>
                            {{ translate("Not logged in") }}
                        </div>
                    {% endif %}
                </div>
                {% if not user.logged and enable_registration %}
                    {% set login_url = function('get_login_url') %}
                    <div class="dropdown-footer no-border">
                        <div class="btn-group input-group-gap">
                            <a href="{{login_url}}" class="btn btn-primary">{{ translate("Sign Up") }}</a>
                            <a href="{{login_url}}" class="btn btn-primary">{{ translate("Login") }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}
