{% if enable_membership %}
   {% set offcanvas = item.offcanvas_settings %}
   {% set background = offcanvas.background_settings %}

   {% set style = "" %}
   {% if background.color %}
       {% set style = style  ~ "background-color:"  ~  background.color ~ ";" %}
   {% endif %}
   {% if background.image and not background.image_filter and not background.image_blend_mode %}
       {% set style = style  ~ "background-image:url("  ~  background.image ~ ");background-size:" ~ background.size ~ ";background-repeat:"  ~ background.repeat ~ ";" ~ "background-position:" ~ background.position_hr ~ " " ~ background.position_vr ~ ";" %}
   {% endif %}

   {% set image_style = "" %}
   {% if background.image and (background.image_filter or background.image_blend_mode) %}
      {% if background.image_filter %}
         {% set image_style = image_style ~ "filter:" ~ background.image_filter ~ "(" ~ background.image_filter_amount|unit_value ~ ");" %}
      {% endif %}
      {% if background.image_blend_mode %}
         {% set image_style = image_style ~ "mix-blend-mode:" ~ background.image_blend_mode ~ ";" %}
      {% endif %}
      {% if background.repeat != "no-repeat" %}
         {% set image_style = image_style  ~ "background-image:url("  ~  background.image ~ ");background-size:" ~ background.size ~ ";background-repeat:"  ~ background.repeat ~ ";" ~ "background-position:" ~ background.position_hr ~ " " ~ background.position_vr ~ ";" %}
      {% endif %}
   {% endif %}

    <div class="offcanvas offcanvas-user-menu offcanvas-{{offcanvas.position}} {% if offcanvas.fullscreen %}offcanvas-fullscreen {% if header_options.affix or header_options.fixed == "bottom-start" %}pt-header{% endif %}{% endif %}" tabindex="-1" id="offcanvasUserMenu" aria-labelledby="offcanvasUserMenuLabel" style="{{style}}">

        {% if background.image and (background.image_filter or background.image_blend_mode) %}
             <div class="bg-cover position-absolute-fill" {% if background.repeat != "no-repeat" %}style="{{image_style}}"{% endif %}>
                {% if background.repeat != "no-repeat" %}
                   <img src="{{background.image}}" class="object-fit-{{background.size}} w-100 h-100" alt="{{translate("Arama Yap")}}" style="{{image_style}}" />
                {% endif %}
             </div>
        {% endif %}

        <div class="offcanvas-header {% if offcanvas.fullscreen and offcanvas.container and "header" in offcanvas.container_apply %}{{function("block_container", offcanvas.container)}} p-3{% endif %}">
            <h5 class="offcanvas-title" id="offcanvasUserMenuLabel">
                {% if user.logged %}
                    {{user.get_title()}}
                {% else %}
                    {{'YOUR ACCOUNT'|trans}}
                {% endif %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body {% if offcanvas.fullscreen and offcanvas.container and "body" in offcanvas.container_apply %}{{function("block_container", offcanvas.container)}} p-2{% endif %}">
            {% if user.logged %}
                {% if user.menu %}
                    {% for item in user.menu %}
                        <a class="dropdown-item" href="{{item.url}}">{{item.title}}</a>
                    {% endfor %}
                {% endif %}
                <a class="dropdown-item" href="{{function('get_account_endpoint_url', 'customer-logout')}}">Logout</a>
            {% else %}
                <div class="content-block">
                    <i class="icon-account"></i>
                    {{'Not logged'|trans}}
                </div>
            {% endif %}
        </div>

        {% if not user.logged and enable_registration %}
            {% set login_url = function('get_login_url') %}
            <div class="offcanvas-footer align-items-center d-flex p-4 {% if offcanvas.fullscreen and offcanvas.container and "footer" in offcanvas.container_apply %}{{function("block_container", offcanvas.container)}} p-2{% endif %}">
                <div class="btn-group input-group-gap w-100">
                    <a href="{{login_url}}" class="btn btn-primary">{{'SIGNUP'|trans}}</a>
                    <a href="{{login_url}}" class="btn btn-primary">{{'LOGIN'|trans}}</a>
                </div>
            </div>
        {% endif %}

    </div>

{% endif %}