<div class="tease-user tease-user-xs tease-user-icon {{class}}">
    <div class="image">
        <a href="{{post.link}}" target="_blank" title="{{post.title}}">
            <div class="image-wrap d-flex flex-column">
                <i class="{{icon}}"></i>
            </div>
        </a>
    </div>
    <div class="info d-flex flex-column justify-content-center">
        <a href="{{post.link}}" target="_blank" title="{{post.title}}">
            <h3 class="title mb-0">
                {{post.title}}
                <small>{{user_item.get_title}}</small>
            </h3>
        </a>
    </div>
</div>