{% if page_settings.footer_template is empty or page_settings.footer_template == "default" %}
    {% if footer_options.template == "default" %}
        {% set template = function("_get_option", "default_footer_template")|default("static") %}
    {% else %}
        {% set template = footer_options.template %}
    {% endif %}
{% else %}
    {% set template = page_settings.footer_template %}
{% endif %}

{% set path = "" %}
{% set template_post = [] %}
{% if template == "static" %}
    {% set path = "footer-static.twig" %}
{% else %}
    {% set template_post = get_post(template) %}
    {% if template_post.meta("render_template") %}
        {% set path = 'theme/templates/_custom/' ~ template_post.id ~ "_" ~ language ~ ".twig" %}
    {% endif %}
{% endif %}

<footer class="footer {% if template_post %}{{ template_post.slug }}{% endif %} z-0 pt-5 pb-4" itemtype="https://schema.org/WPFooter" itemscope="" id="footer" role="contentinfo">

    <div class="{{footer_options.container}}">
        {% if path %}
            {% include path %}
        {% elseif template_post %}
            {{template_post.get_blocks().html }}
            <link id='footer-css' rel='preload' href='{{site.theme.uri}}/theme/templates/_custom/{{ template_post.slug }}.css' as='style' media="all" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
            <noscript><link rel='stylesheet' href='{{site.theme.uri}}/theme/templates/_custom/{{ template_post.slug }}.css'></noscript>
        {% endif %}
    </div>

</footer>