{% extends "base.twig" %}

{% set  page_settings = {
            full : true,
            classes : {
                body : "pb-5",
                main : "",
                container : "",
                gap : "",
            },
            offcanvas : {
                    individual : false,
                    size : "md",
                    width : 3,
                    position : "start",
                    template : ""
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "bottom",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}


{% block hero %}
    {% if slider %}

        {% if slider_settings %}

            {% if slider_settings.pagination %}
               {% set slider_settings_data = slider_settings_data ~ " data-slider-pagination='" ~ slider_settings.pagination_type ~ "'" %}
               {% if slider_settings.pagination_thumbs %}
                  {% set slider_settings_data = slider_settings_data ~ " data-slider-pagination-thumbs='true'" %}
               {% endif %}
            {% endif %}

            {% if slider_settings.navigation %}
                {% set slider_settings_data = slider_settings_data ~ " data-slider-navigation='true'" %}
            {% endif %}

            {% if slider_settings.autoplay %}
                {% set slider_settings_data = slider_settings_data ~ " data-slider-autoplay='true'" %}
                {% if slider_settings.delay %}
                    {% set slider_settings_data = slider_settings_data ~ " data-slider-delay='" ~ (slider_settings.delay * 1000) ~ "'" %}
                {% endif %}
            {% endif %}
           
            {% if slider_settings.effect %}
                {% set slider_settings_data = slider_settings_data ~ " data-slider-effect='" ~ slider_settings.effect ~ "'" %}
            {% endif %}

            {% if slider_settings.loop %}
                {% set slider_settings_data = slider_settings_data ~ " data-slider-loop='" ~ slider_settings.loop ~ "'" %}
            {% endif %}
        {% endif %}

        <div class="swiper-slider hero hero-lg-- slider-home-- swiper-container" {{slider_settings_data}}>
            <div class="swiper-wrapper">
                {% for slide in slider %}
                    {% set image_slider = slide.image_slider %}
                    {% set image_slider_mobile = slide.image_slider_mobile %}
                    {% set img_lg = image_slider.sizes.large %}
                    {% set img_md = image_slider.sizes.medium %}
                    {% set img_sm = image_slider_mobile.sizes.large  %}
                    {% set img_sm_ls = image_slider_mobile.sizes.large %}
                    {% set img_xs = image_slider_mobile.sizes.large %}

                    <div class="swiper-slide">

                        {% if slide.link_view == 'all' %}
                        <a href="{{slide.link}}" class="link-full btn-loading-page">
                        {% endif %}

                        {% if slide.content_view %}
                        <div class="card">
                            <div class="card-header w-lg-50">
                                <h3 class="card-title" data-bg-check=".swiper-slider .bg-cover img">
                                    {{slide.title}}
                                </h3>
                                <div class="description" data-bg-check=".swiper-slider .bg-cover img">
                                    {{slide.content}}
                                </div>
                                {% if slide.link_view == 'button' %}
                                <a href="{{slide.link}}" class="btn btn-outline-light btn-lg btn-extend btn-loading-page">{{'İNCELE'|trans}}</a>
                                {% endif %}
                            </div>
                            <div class="card-body">

                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                        {% endif %}

                        {{function("lazySizesPictureResponsive",{
                                  xs : img_xs,
                                  sm_ls : img_sm_ls,
                                  sm : img_sm,
                                  md : img_md,
                                  lg : img_lg,
                                  xl : img_lg,
                                  xxl : img_lg
                        }, "filtered-left-")}}

                        {% if slide.link_view == 'all' %}
                        </a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination" data-bg-check=".swiper-slider .bg-cover img"></div>
        </div>
    {% endif %}
{% endblock %}


{% block content %}

    <div class="container text-center">
        home page
    </div>

{% endblock %}


{% block appendix %}
{% endblock %}