{% set tax_query = [
	{"relation":"AND"},
	{
		'taxonomy' : 'oda',
		'field' : 'term_id',
		'terms' : data.oda,
	},
	{
		'taxonomy' : 'daire-tipi',
		'field' : 'term_id',
		'terms' : data.daire_tipi,
	},
	{
		'taxonomy' : 'blok',
		'field' : 'term_id',
		'terms' : data.blok,
		}
] %}
{% set args = {
	'post_type' : 'daire',
	'posts_per_page' : '-1',
	'tax_query' : tax_query
} %}
{% set daireler = get_posts(args) %}

{% if daireler %}

	<div class="alert alert-daireler top mt-3 pb-0">
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
			{% if daireler|length > 1 %}
				<select name="daire" id="daire" class="form-select w-auto rounded-4 ps-4">
				{% for daire in daireler %}
					<option value="{{daire.id}}">{{ daire.get_title(false) }}</option>
				{% endfor %}
				</select>
			{% else %}
				<h4 class="mt-2">{{ daireler[0].get_title(false) }}</h4>
			{% endif %}
			</div>
		</div>
	</div>

	<div class="tab-content-main tab-content">
	{% for daire in daireler %}
		<div id="{{daire.id}}" class="tab-pane fade {% if loop.first %}show active{% endif %}">
            
            <div class="alert alert-daireler bottom">
			    <div class="row gy-3">
					<div class="col-md-6">
					    <div class="table-container py-2 px-3 rounded-3">
							<table class="table table-sm mb-0">
								<tbody>
									<tr>
										<td class="fw-bold">Blok</td>
										<td>{{ daire.get_block() }}</td>
									</tr>
									{% if daire.get_position() %}
									<tr>
										<td class="fw-bold">Konum</td>
										<td>{{ daire.get_position() }}</td>
									</tr>
									{% endif %}
									<tr>
										<td class="fw-bold">Daire No</td>
										<td> {{ daire.get_no(false) }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-6">
					    <div class="table-container py-2 px-3 rounded-3">
							<table class="table table-sm mb-0">
								<tbody>
									<tr>
										<td class="fw-bold">Net Alan</td>
										<td>{{ daire.meta("areas").net_area }} m<sp>2</sp></td>
									</tr>
									<tr>
										<td class="fw-bold">Brüt Alan</td>
										<td>{{ daire.areas.gross_area }} m<sp>2</sp></td>
									</tr>
									<tr>
										<td class="fw-bold">Genel Brüt Alan</td>
										<td>{{ daire.areas.total_gross_area }} m<sp>2</sp></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-12">
						<ul id="daire-tabs" class="nav nav-pills nav-fill" id="tab-{{daire.id}}" role="tablist">
						  	<li class="nav-item" role="presentation">
						    	<button class="nav-link- btn btn-outline-primary w-100 active" id="location-{{daire.id}}-tab" data-bs-toggle="tab" data-bs-target="#location-{{daire.id}}" type="button" role="tab" aria-controls="location-{{daire.id}}" aria-selected="true">Konum</button>
						  	</li>
						  	<li class="nav-item mx-2" role="presentation">
						    	<button class="nav-link- btn btn-outline-primary w-100" id="parts-{{daire.id}}-tab" data-bs-toggle="tab" data-bs-target="#parts-{{daire.id}}" type="button" role="tab" aria-controls="parts-{{daire.id}}" aria-selected="false">Bölümler</button>
						  	</li>
						  	<li class="nav-item" role="presentation">
						    	<button class="nav-link- btn btn-outline-primary w-100" id="plans-{{daire.id}}-tab" data-bs-toggle="tab" data-bs-target="#plans-{{daire.id}}" type="button" role="tab" aria-controls="plans-{{daire.id}}" aria-selected="false">Kat Planı</button>
						  	</li>
						</ul>
					</div>
				</div>
			</div>



			<div class="tab-content mt-4">
			    <div class="tab-pane fade show active px-5" id="location-{{daire.id}}" role="tabpanel" aria-labelledby="location-{{daire.id}}-tab" tabindex="0">
	                {{function('inline_svg', site.theme.uri ~ "/static/img/plan-blocks.svg", "plan-blocks img-fluid")}}
					{% set block = daire.terms("blok") %}
					<style>
					.plan-blocks #block-{{ block[0].slug }}{display:block;}
					</style>
			    </div>

			    <div class="tab-pane fade" id="parts-{{daire.id}}" role="tabpanel" aria-labelledby="parts-{{daire.id}}-tab" tabindex="0">
				    {% for plan in daire.meta("plans") %}
				    	{% if daire.meta("plans")|length > 1 %}
						   <h6 class="text-tertiary fw-bold ps-3 pb-2 mb-3 border-bottom fs-5">{% if plan.floor == "up" %}Üst Kat{% else %}Alt Kat{% endif %}</h6>
					    {% endif %}
					    <div class="card card-module border-0 p-0">
							<table class="table table-sm table-striped">
								<tbody>
								{% for dimension in plan.dimensions %}
									<tr>
										<td class="text-nowrap text-dark">{{ dimension.place }}</td>
										<td class="col-fixed text-end text-nowrap text-dark fw-bold">{{ dimension.dimension }} m<sup>2</sup></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					{% endfor %}

					<h6 class="text-tertiary fw-bold ps-3 pb-2 mb-3 border-bottom fs-5">TOPLAM</h6>
					{% set totals = daire.meta("totals") %}
					<div class="card card-module border-0 p-0">
						<table class="table table-sm table-striped">
							<tbody>
							    {% if totals.places|length > 0 %}
									<tr>
										<td class="text-nowrap text-dark">{{ totals.places|join(" ve ") }} Hariç</td>
										<td class="col-fixed text-end text-nowrap text-dark fw-bold">{{ totals.total_excluded }} m<sup>2</sup></td>
									</tr>
									<tr>
										<td class="text-nowrap text-dark">{{ totals.places|join(" ve ") }} Dahil</td>
										<td class="col-fixed text-end text-nowrap text-dark fw-bold">{{ totals.total_included }} m<sup>2</sup></td>
									</tr>
							    {% else %}
									<tr>
										<td class="text-nowrap text-dark">Toplam</td>
										<td class="col-fixed text-end text-nowrap text-dark fw-bold">{{ totals.total }} m<sup>2</sup></td>
									</tr>
							    {% endif %}
							</tbody>
						</table>
					</div>
			    </div>

			    <div class="tab-pane fade" id="plans-{{daire.id}}" role="tabpanel" aria-labelledby="plans-{{daire.id}}" tabindex="0">
			        {% for plan in daire.meta("plans") %}
						{% if daire.meta("plans")|length > 1 %}
						   <h5 class="text-tertiary fw-bold ps-3 pb-2 mb-3 border-bottom fs-5">{% if plan.floor == "up" %}Üst Kat{% else %}Alt Kat{% endif %}</h5>
					    {% endif %}
						<div class="plan-container position-relative border border-primary rounded-2 p-3 mb-5 mx-5">
							<img src="{{plan.plan}}" class="img-viewer w-100" alt=""/>
						</div>
				    {% endfor %}
			    </div>
			</div>

		</div>
	{% endfor %}
	</div>


{% endif %}
<style>
.viewport.leaflet-container{
	top:16px!important;
	left:16px!important;
}
</style>
<script>
	var resourcesLoaded = 0;
	var totalResources = 4;
	function loadExternalResources(callback) {

		if (resourcesLoaded >= totalResources) {
	       callback();
	       return;
	    }
        
	    function checkAllResourcesLoaded() {
	        if (resourcesLoaded >= totalResources) {
	            callback();
	        }else{
	        	resourcesLoaded++;
	        }
	    }

	    // Leaflet CSS
	    if (!$("link[href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css']").length) {
	        $('<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />').appendTo('head').on('load', checkAllResourcesLoaded);
	    } else {
	        checkAllResourcesLoaded();
	    }
	    // jQuery UI CSS
	    if (!$("link[href='https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css']").length) {
	        $('<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" media="screen">').appendTo('head').on('load', checkAllResourcesLoaded);
	    } else {
	        checkAllResourcesLoaded();
	    }
	    // Leaflet JS
	    if (!$("script[src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js']").length) {
	        $.getScript("https://unpkg.com/leaflet@1.3.1/dist/leaflet.js", checkAllResourcesLoaded);
	    } else {
	        checkAllResourcesLoaded();
	    }
	    // jQuery UI JS
	    if (!$("script[src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js']").length) {
	        $.getScript("https://code.jquery.com/ui/1.12.1/jquery-ui.min.js", checkAllResourcesLoaded);
	    } else {
	        checkAllResourcesLoaded();
	    }
	    // imgViewer2 JS
	    if (!$("script[src='https://cdn.jsdelivr.net/npm/imgviewer2@1.1.0/dist/imgViewer2.min.js']").length) {
	        $.getScript("https://cdn.jsdelivr.net/npm/imgviewer2@1.1.0/dist/imgViewer2.min.js", checkAllResourcesLoaded);
	    } else {
	        checkAllResourcesLoaded();
	    }
	}

        
    function init_imgViewer2($obj){
        	if($obj.not(".img-viewer-init")){
        		$obj.addClass("img-viewer-init");
                var img = $obj.imgViewer2();
        		var data = img.data("wgmImgViewer2");
	            if(data){
				    var viewportElement = $(data.view);
                        data.map.scrollWheelZoom.disable();
					var planContainer = $obj.closest('.plan-container');
					if (viewportElement.length > 0 && planContainer.length > 0 && planContainer.find(".viewport.leaflet-container").length == 0) {
					    planContainer.prepend(viewportElement);
					    $(window).trigger("resize");
					}        	
	            }
        		return img;
        	}
    }

    function start_app(){
		$("select[name='daire']").on('change', function(){
				var selectedTab = $(this).val();
				$('.tab-content-main > .tab-pane').removeClass('show active');
				$('#' + selectedTab).addClass('show active');

	            var plans = $('#' + selectedTab).find(".tab-pane#plans-"+$('#' + selectedTab).attr("id"));
				if(plans.hasClass("active")){
					var images = plans.find(".img-viewer");
			    	images.each(function(){
			    		init_imgViewer2($(this));
			    	});
				}			
			
				var hiddenTabs = $('.tab-content-main > .tab-pane').not('#' + selectedTab);
				hiddenTabs.each(function(){
					$(this).find("#daire-tabs").find(">li").first().find(".btn").trigger("click");
					var images = $(this).find(".img-viewer");
			    	images.each(function(){
				    	var data = $(this).data("wgmImgViewer2");
				    	if(data){
					    	$(this).removeClass("img-viewer-init");
				    	    data.destroy();
				    	}
				    });
				});
		});

		$('#daire-tabs button')
	    .on('shown.bs.tab', function (e) {
			if(e.target.id.startsWith('plans-')) {
			    var pane = $(e.target).data("bs-target");
			    var images = $(pane).find(".img-viewer");
			    	images.each(function(){
			    		init_imgViewer2($(this));
			    	});
			}
		})
		.on('hide.bs.tab', function (e) {
			    if(e.target.id.startsWith('plans-')) {
			    	var pane = $(e.target).data("bs-target");
			    	var images = $(pane).find(".img-viewer");
			    	images.each(function(){
				    	var data = $(this).data("wgmImgViewer2");
				    	if(data){
					    	$(this).removeClass("img-viewer-init");
				    	    data.destroy();
				    	}
				    });
			    }
		});    	
    }


	loadExternalResources(function () {
		start_app();
	});
</script>

