
<li class="notification-item infinite-item" data-type="{{type}}" data-id="{{post.id}}">
    <div class="product-tease">
        <a href="{{post.url}}" title="{{post.title}}">
            {{post.sender.image}}
            <div class="detail">
               {#{post.title}#}
                <div class="title">
                    {{post.sender.name}}
                </div>
                <div class="description">
                    {{post.message|truncate(8)}}
                    <small class="date">{{post.time}}</small>
                </div>
            </div>
            <div class="action">

            </div>
        </a>
    </div>
</li>