<div class="card-profile-edit card">
    <div class="card-header d-flex">
        <h1 class="card-title">
            Expert Requests
        </h1>
        <div class="action">
        </div>
    </div>
    <div class="card-body pt-0">

        <div class="profile-edit-item bg-white p-3">

        {% if users %}

            <table class="table-expert-request table table-sm table-striped m-0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">User</th>
                            <th scope="col">Account/Work Type</th>
                            <th scope="col">Registered on</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_item in TimberUser(users, 'User') %}
                        <tr id="user-{{user_item.ID}}">
                            <th scope="row">{{user_item.ID}}</th>
                            <td class="align-top">
                                <a href="{{function('get_author_posts_url', user_item.ID)}}" target="_blank">
                                    <h6 class="m-0 font-weight-bold">{{user_item.get_title()}}</h6>
                                    <span class="text-muted">{{user_item.description}}</span>
                                </a>
                            </td>
                            <td class="align-top"><span class="text-sm">{{user_item.get_work_status("name")}}</span></td>
                            <td class="align-top"><span class="text-sm text-muted">{{user_item.user_registered|date('j F Y H:i')}}</span></td>
                            <td class="align-top text-end">
                                <a href="#" class="btn btn-danger btn-sm" data-ajax-method="update_profile" data-confirm="true" data-action="upgrade_management" data-id="{{user_item.ID}}" data-status="declined">Decline</a>
                                <a href="#" class="btn btn-success btn-sm" data-ajax-method="update_profile" data-confirm="true" data-action="upgrade_management" data-id="{{user_item.ID}}" data-status="approved">Approve</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% if total_pages > 1 %}
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                {{function('paginate', paged, total_pages)}}
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
            </table>   
       
        {% else %}
            No any requests...
        {% endif %}

        </div>

    </div>
</div>