<div class="card-container card-container-solid card card-reset ajax-paginate"
     data-posts_per_page="5"
     data-user="{{ user.id }}"
     data-order="desc"
     data-load_type="scroll"
     data-status="{{ action == 'approved' ? 1 : 0 }}"
     data-ajax-method="get_reviews">

    <div class="card-header d-flex pb-3">
        <h1 class="card-title">
            {{ title }}
            <small class="item-total"></small>
        </h1>
        {% if not disable_review_approve and statuses %}
        <div class="action ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary fw-bold text-uppercase dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% for status in statuses %}
                        {% if status.slug == action %}{{ status.name }} ({{ status.count }}){% endif %}
                    {% endfor %}
                </button>
                <ul class="dropdown-menu pre-scrollable w-100 p-3 rounded-4">
                    {% for status in statuses %}
                        {% if status.slug != action %}
                        <li>
                            <a class="dropdown-item btn-loading-page" href="{{ base_urls.account }}reviews/{{ status.slug }}/">
                                {{ status.name }} ({{ status.count }})
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="card-body list-cards pt-4 pb-2"></div>
    <div class="card-footer justify-content-end viewport">
        <a href="#" class="btn-next-page btn btn-light btn-extend w-100 loading" data-init="true">
            <span>Load <span class="item-left"></span> More</span>
        </a>
    </div>
</div>

{% block appendix %}
<script>$( document ).ready(function() {});</script>
{% endblock %}
