{% extends "base.twig" %}

{% set page_settings_default = {
            full : true,
            classes : {
                body : "",
                main : "",
                container : "",
                gap : ""
            },
            add_offcanvas : 0,
            offcanvas : {
                individual : false,
                size : "md",
                width : 3,
                position : "start",
                template : "",
                title : "",
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "top",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}

{% block content %}

    <div class="{{function("block_container", "default")}} mb-6">
    	{% set args = {
	        'post_type'      : 'contact',
	        'posts_per_page' : '-1',
	        'order'          : 'ASC',
	        'orderby'        : 'menu_order'
	    } %}
	    {% set posts = get_posts(args) %}
	    {% if posts %}
		    {% for post in posts %}

	    	{% set config = {locations: [], buttons: {}, popup: {}, callback: ""} %}
			{% set location_data = [] %}
		    {% set map_data = post.get_map_data() %}
		    {% if map_data %}
		       {% set map_data = map_data|merge({"id": post.id}) %}
		       {% set location_data = location_data|merge([map_data]) %}
		    {% endif %}
		    {% set config = config|merge({locations : location_data }) %}

		    <div class="contact bg-white shadow-sm rounded-5 overflow-hidden mb-4">
		    	<div class="row">
		    		<div class="col-xl-7">
		    			 <div class="leaflet-custom ratio ratio-16x9 h-100 z-0" data-height="400" data-map="leaflet" data-config='{{config|json_encode}}'></div>
		    		</div>
		    		<div class="col-xl-5">

						<div class="card-contact card-reset card px-5 py-6 justify-content-center h-100" id="Headoffice" itemscope itemprop="parentOrganization" itemtype="https://schema.org/Organization">
						 	<div class="card-header">
							 	<h2 class="card-title title-sm lh-1 fw-700 mb-5">{{post.title|default(site.name)}}</h3>
							</div>
							<div class="card-body">
							 	<meta itemprop="name" content="{{post.title|default(site.name)}}">
								<meta itemprop="logo" content="{{logo}}">
								<meta itemprop="url" content="{{site.url}}">

							 	{% if post.contact_address %}
								<address class="address text-md" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">{{post.meta("contact_address")}}</address>
								{% endif %}
							 	  	             
				              	{% if post.contact_phone %}
							    <ul class="phones list-inline p-0 mt-3">
									{% for phone in post.meta("contact_phone") %}
									<li class="list-inline-item{% if language == "ar" %}- ml-4 mb-4{% endif %}" style="direction:ltr!important;">
										<span class="phone text-md" itemprop="telephone">{{phone.number|phone_link}}</span>
									</li>
									{% endfor %}
								</ul>
								{% endif %}

								{% if post.contact_email %}
								<ul class="emails list-inline p-0 text-md mt-5">
									<li class="list-inline-item"><span class="email" itemprop="email">{{post.meta("contact_email")|email_link("text-primary")}}</span></li>
								</ul>
								{% endif %}

							    {% if post.contact_accounts %}
							        {{post.meta("contact_accounts")|list_social_accounts("mt-5 text-lg")}}
							    {% endif %}

							</div>
						</div>
		    		</div>
		    	</div>
		    </div>
		    {% endfor %}
	    {% endif %}

    </div>

    {{ post.get_blocks() }}
	    
	{# set forms = function('get_contact_forms') %}
    {% if forms %}
	    <div class="container-md mt-8">
			<div class="card-form card-reset card">
			    <div class="card-body">
					{% apply shortcodes %}
						[contact-form-7 id="{{forms["contact-form"].id}}" title="{{forms["contact-form"].title}}"]
					{% endapply %}
				</div>
			</div>
	    </div>
	{% endif #}

	

{% endblock %}




{% block appendix %}

{% endblock %}