{% set menu_level = menu_level is empty?1:menu_level %}
{% set max_level = max_level is empty?9999:max_level %}

{% if menu_level <= 1 %}
<nav class="nav-menu {{class_name}}" id="menu" role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
    <ul class="nav flex-column">
{% endif %}

{% for item in menu  %}

	{% if (max_level and menu_level < max_level) %}

		{% set props = item.get_properties({parent_link: parent_link, collapsed : true}) %}

		<li class="{{props.item.class}}" data-menu-level="{{menu_level}}">

			<a href="{% if item.children %}#{% else %}{{props.link.href}}{% endif %}" class="text-wrap {{props.link.class}}" {% if props.link.target %}target="{{props.link.target}}"{% endif %} {{props.link.attrs}}>
					{{item.title}}
			</a>

			{% if item.children and (max_level and menu_level < max_level-1) %}
			<ul class="dropdown-menu show position-relative bg-transparent">
				{% include "blocks/navigation/menu-tree.twig" with {'menu': item.children, 'menu_level':menu_level+1} %}
			</ul>
			{% endif %}

		</li>
	{% endif %}
{% endfor %}

{% if menu_level <= 1 %}
    </ul>
</nav>
{% endif %}