{% set menu_level = menu_level is empty?0:menu_level %}
{% set max_level = max_level is empty?9999:max_level %}

{% for item in menu  %}

	{% if (max_level and menu_level < max_level) %}

		{% set props = item.get_properties({parent_link: parent_link, collapsed : true}) %}

		<li class="{{props.item.class}}" data-menu-level="{{menu_level}}">

			<a href="{{props.link.href}}" class="text-wrap {{props.link.class}}" {% if props.link.target %}target="{{props.link.target}}"{% endif %} {{props.link.attrs}}>
					{{item.title}}
			</a>

			{% if item.children and (max_level and menu_level < max_level-1) %}
			<ul class="dropdown-menu show position-relative bg-transparent">
				{% include "navigation/menu-collapsed.twig" with {'menu': item.children, 'menu_level':menu_level+1} %}
			</ul>
			{% endif %}

		</li>
	{% endif %}
{% endfor %}