{{"<div class='row g-0 align-items-center text-center'>
		<div class='col-12 fw-bold fs-6'>{{title}}</div>
		<div class='col-12'>{{state}}, {{city}}</div>
   </div>"|apply spaceless|raw|replace({'{{':'<%=', '}}':'%>'})}}