{% extends "base.twig" %}

{% set  page_settings = {
            full : false,
            classes : {
                body : "",
                main : "",
                container : "container-xl",
                gap : "",
            },
            offcanvas : {
                individual : false,
                size : "md",
                width : 3,
                position : "start",
                template : ""
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "bottom",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}

{% block sidebar_toggler %}
    {% if enable_filters %}
    <button type="button" class="sidebar-toggler btn btn-primary" data-bs-toggle="offcanvas" data-target=".navbar-offcanvas-sidebar" data-canvas="body" data-exclude=".navbar-offcanvas-main" data-backdrop="true">
        <i class="fa fa-bars"></i> {{'Filtreler'|trans}}
    </button>
    {% endif %}
{% endblock %}

{% set image_slider = tax.meta("image_slider") %}
{% set image_slider_mobile = tax.meta("image_slider_mobile") %}

{% block hero %}
                {% set img_lg = image_slider.sizes.large %}
                {% set img_md = image_slider.sizes.medium %}
                {% set img_sm = image_slider_mobile.sizes.large  %}
                {% set img_sm_ls = image_slider_mobile.sizes.large %}
                {% set img_xs = image_slider_mobile.sizes.large %}
                <div class="hero-archive hero hero-sm bg-primary">
                    <div class="card">
                        <div class="card-header">
                            {{breadcrumb}}
                            <h1 class="card-title">{{tax.title}}</h1>
                        </div>
                    </div>

                    <div class="bg-cover grayscale-- multiply-- lazyload" 
                        {{function("lazySizesResponsive",{
                              xs : img_xs,
                              sm_ls : img_sm_ls,
                              sm : img_sm,
                              md : img_md,
                              lg : img_lg 
                        })}}>
                    </div>
                </div>
{% endblock %}

{% block hero_header %}
{% endblock %}

{% block sidebar %}
    {% if enable_filters and found_posts > 0 %}
        <div id="sidebar" class="col navbar-offcanvas-sidebar offcanvas-{{page_settings.offcanvas.size}}">

            <a href="#" class="offcanvas-close" data-bs-toggle="offcanvas" data-target=".navbar-offcanvas-sidebar" data-canvas="body" data-exclude=".navbar-offcanvas-main" data-backdrop="true">
                <i class="icon-arrow-left text-success"></i> {{'Kapat'|trans|uppertr}}
            </a>
                                
            <div class="container-product-filters stick-top">
                {% include 'woo/sidebar-product-filter.twig' %}
                {{'[yith_wcan_filters slug="draft-preset"]'|shortcodes}}
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if found_posts > 0 %}

        <div class="card-product-archive card">
                        {% if enable_filters and query_vars %}
                        <div class="card-header card-header-filters">
                            <div class="filters">
                               <ul class="list-inline list-inline-tags">
                                    {% for query_var in query_vars %}
                                        {% for item in query_var.terms %}
                                            <li class="list-inline-item">
                                                <a href="#" class="search-option-tag" data-name="{{query_var.slug}}" data-value="{{item}}">
                                                    <small>{{query_var.name}}</small>
                                                    {% if query_var.slug == "fiyat" or query_var.slug == "fiyat_araligi" %}
                                                        {{function('str_replace', '|', '-', item)}} {{ function('woo_get_currency') }}
                                                    {% else %}
                                                       {{item}}
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                    <li class="list-inline-item">
                                        <a href="#" class="search-option-tag-clear">Temizle</a>
                                    </li>
                                </ul>
                             </div>
                        </div>
                        {% else %}
                            <div class="card-header">
                                {% do action('woocommerce_before_shop_loop') %}
                            </div>
                        {% endif %}

                        {% set tax_root = get_term(tax_root) %}
                        {% if tax_root.meta("filter_children") %}
                        <div class="card-header tax-filter">
                            <ul class="nav nav-pills d-md-flex d-sm-none d-none">
                                <li class="nav-item">
                                    <a class="nav-link btn-loading-page {% if tax.parent == 0 %}active{% endif %}" href="{{tax_root.link}}">{{'Tümü'|trans}}</a>
                                </li>
                                {% for child in tax_root.children %}
                                    <li class="nav-item">
                                        <a class="nav-link btn-loading-page {% if tax.slug == child.slug %}active{% endif %}" href="{{child.link}}">{{child.title}}</a>
                                     </li>
                                {% endfor %}
                                </ul>
                            </div>
                            <select class="selectpicker select-url d-md-none d-sm-block d-block">
                                <option value="{{tax_root.link}}">{{'Tümü'|trans}}</option>
                                {% for child in tax_root.children %}
                                    <option value="{{child.link}}" {% if tax.slug == child.slug %}selected{% endif %}>{{child.title}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}

                        {#
                        <div class="card-header">
                            <h1 class="card-title">
                                {{title}}
                                <small>{{ '%count% ürün bulundu.'|trans_plural('%count% ürün bulundu.',  found_posts)|str_replace_arr({'count': '<strong class="header-post-count">' ~ found_posts ~ '</strong>'}) }}</small>
                            </h1>
                            <div class="action">
                                <select class="selectpicker" name="siralama">
                                    <option value="isim-artan"   {% if query_vars_sorting.term == "isim-artan"   %}selected{% endif %}>Ürün Adı Artan</option>
                                    <option value="isim-azalan"  {% if query_vars_sorting.term == "isim-azalan"  %}selected{% endif %}>Ürün Adı Azalan</option>
                                    <option value="fiyat-artan"  {% if query_vars_sorting.term == "fiyat-artan"  %}selected{% endif %}>Fiyata Göre Artan</option>
                                    <option value="fiyat-azalan" {% if query_vars_sorting.term == "fiyat-azalan" %}selected{% endif %}>Fiyata Göre Azalan</option>
                                </select>
                            </div>
                        </div>#}

                        {# do action('woocommerce_before_main_content') #}

                            
                        
                        <div class="card-body">

                            {% if ajax %}
                                <div class="list-products row {{product_settings.gap}} row-margin" data-category="{{function('get_query_var','product_cat')}}" data-keyword="{{keyword}}"></div>
                            {% else %}

                                {% if posts %}
                                    
                                    <div class="list-products row {{product_settings.gap}} row-margin" data-category="{{function('get_query_var','product_cat')}}" data-keyword="{{keyword}}">
                                        {% for post in posts %}
                                        <div class="{{product_settings.grid}}">
                                            {% include "woo/tease-product.twig" with {'post' : post, class: 'shadow-lg' } %}
                                        </div>
                                        {% endfor %}
                                    </div>

                                {% else %}

                                   <h4>{{'Üzgünüz, aradığınız kriterlere göre ürün bulunamadı.'|trans}}...</h4>
                                   Filtreleri <a href="#" class="search-option-tag-clear text-underline">temizleyerek</a> tekrar aramayı deneyebilirsiniz.

                                {% endif %}
                            {% endif %}

                            {# do action('woocommerce_after_shop_loop') %}
                            {% do action('woocommerce_after_main_content') #}

                        </div>

                        <div class="card-footer">
                            {% if pagination and not ajax %}
                               {% include 'pagination.twig' %}
                            {% endif %} 
                        </div>
        </div>

    {% else %}

        {% set page_settings = page_settings|merge({'full': true}) %}
           {% set page_settings_classes = page_settings.classes|merge({content : "mt-0"}) %}
        {% set page_settings =  page_settings|merge({classes : page_settings_classes}) %}

        <div class="content-full-page">
                <div class="container-xl">

           
                    {% set categories = function('woo_get_available_categories') %}
                    {% if categories %}

                         {% set slider_args = { 
                                title : 'Üzgünüz, aradığınız kriterlere uygun bir ürün bulamadık.'|trans, 
                                description: "Aşağıdaki kategorileri inceleyebilirsiniz.", 
                                url: "", 
                                class : "products-last-viewed",
                                item_class : "card-product-tease-sm",
                                size : "lg", 
                                breakpoints : {'xl' : 4, 'lg': 4, 'md' : 3, 'sm' : 2, 'xs' : 1 },
                                gaps : {'xl' : 15, 'lg': 15, 'md' : 15, 'sm' : 15, 'xs' : 15 },  
                                template : 'woo/tease-category.twig', 
                                posts :  categories,
                                more : "",
                                slider : {
                                    pagination : true,
                                    loop : false,
                                    delay : 0,
                                    autoplay: false,
                                    effect : "slide"                
                                }
                            }
                        %}
                        <section class="row-page row-page-lg">
                            <div class="container-fluid">
                                {% include 'partials/sliders/slider-posts-vr.twig' with { vars : slider_args } %}
                            </div>
                        </section>

                    {% endif %}

                </div>
        </div>

    {% endif %}
{% endblock %}