{% extends "base.twig" %}

{% set  page_settings = {
            full : false,
            classes : {
                body : "",
                main : "",
                container : "container-xl",
                gap : "",
            },
            offcanvas : {
                individual : false,
                size : "md",
                width : 3,
                position : "start",
                template : ""
            },
            alert : {
                type : "danger",
                title : "",
                message : "",
                position : "bottom",
                fixed : false,
                class : "",
                html : ""
            },
            paging : {
                posts_per_page : 10,
                page : 1
            }
        }
%}
  
{% block hero_header %}
    {% if posts|length>0 %}
    <div class="header-title">
         <h1 class="title">{{title}} aa</h1>
         {% if is_search %}
         <div class="title-sub">{{posts|length}} {{'Results'|trans}}</div>
         {% endif %}
    </div>
    {% endif %}
{% endblock %}


{% block content %}
    shop-categories.twig
    <div class="card-kampanya-list card-tease-list card-layout card">

        {% if posts.found_posts > 0  and (page_type == "category" or page_type == "tag") %}
            <div class="card-header border-bottom">
                <div class="card-title">
                    <div class="description">
                    {% if page_type == "category" %}
                        {{ '%category% kategorisinde toplam %count% içerik bulundu.'|trans|str_replace_arr({'count': '<strong>' ~ posts.found_posts ~ '</strong>', 'category': '<strong>' ~ tax[0].name ~ '</strong>'}) }}
                    {% endif %}
                    {% if page_type == "tag" %}
                       {{ '%tag% olarak etiketlenmiş toplam %count% içerik bulundu.'|trans|str_replace_arr({'count': '<strong>' ~ posts.found_posts ~ '</strong>', 'tag': '<strong>' ~ tax[0].name ~ '</strong>'}) }}
                    {% endif %}
                    </div>
                </div>
                <div class="action"></div>
            </div>
       {% endif %}
        
        <div class="card-body">
            {% if categories %}
                {% for key, category in categories %}
                    {%include "woo/tease-category.twig" with {'post' : category, 'aos' : true, 'odd' : key is odd } %}
                {% endfor %}
            {% endif %}      
        </div>
        
        <div class="card-footer">
            {% if pagination and not ajax %}
                {% include 'pagination.twig' %}
            {% endif %} 
        </div>

    </div>

{% endblock %}