<div class="product-filters card-collapse card-merged update-me init" id="product-filters">

                        {% if product_categories %}
                            <div class="product-filter-item card">
                                <div class="card-header show-arrow no-border" id="categoryOptionsHeader">
                                    <h5 class="title">
                                        {% set counter = 0 %}
                                        {% for item in product_categories if item.active %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        <a href="#" data-bs-toggle="collapse" data-target="#categoryOptions" aria-expanded="false" aria-controls="categoryOptions">
                                           {{'Kategoriler'|trans}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                        </a>
                                    </h5>
                                    <div class="action"></div>
                                </div>
                                <div id="categoryOptions" class="product-filter-item-collapse collapse" aria-labelledby="categoryOptionsHeader" data-parent="#product-filters">
                                    <div class="product-filter-item-body card-body">
                                        <ul class="list-group-options list-group">
                                            {% for item in product_categories %}
                                            <li class="list-group-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="kategori-{{item.term_id}}" name="kategori" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                    <label class="custom-control-label" for="kategori-{{item.term_id}}"> {{item.name}}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                                <a href="#" data-term="kategori">{{'Seçimi Temizle'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if product_brands %}
                            <div class="product-filter-item card">
                                <div class="card-header show-arrow no-border" id="brandOptionsHeader">
                                    <h5 class="title">
                                        {% set counter = 0 %}
                                        {% for item in product_brands if item.active %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        <a href="#" data-bs-toggle="collapse" data-target="#brandOptions" aria-expanded="false" aria-controls="brandOptions">
                                           {{'Markalar'|trans}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                        </a>
                                    </h5>
                                    <div class="action"></div>
                                </div>
                                <div id="brandOptions" class="product-filter-item-collapse collapse" aria-labelledby="brandOptionsHeader" data-parent="#product-filters">
                                    <div class="product-filter-item-body card-body">
                                        <ul class="list-group-options list-group">
                                            {% for item in product_brands %}
                                            <li class="list-group-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="marka-{{item.term_id}}" name="marka" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                    <label class="custom-control-label" for="marka-{{item.term_id}}"> {{item.name}}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                                <a href="#" data-term="marka">{{'Seçimi Temizle'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% for attribute in category_attributes %}
                        
                            {% if attribute.slug == "pa_cinsiyet" %}
                            <!-- Gender -->
                            <div class="product-filter-item card">
                                <div class="card-header show-arrow no-border" id="genderOptionsHeader">
                                    <h5 class="title">
                                        {% set counter = 0 %}
                                        {% for item in attribute.terms if item.active %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        <a href="#" data-bs-toggle="collapse" data-target="#genderOptions" aria-expanded="false" aria-controls="genderOptions">
                                           {{attribute.name}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                        </a>
                                    </h5>
                                    <div class="action"></div>
                                </div>
                                <div id="genderOptions" class="product-filter-item-collapse collapse" aria-labelledby="genderOptionsHeader" data-parent="#product-filters">
                                    <div class="product-filter-item-body card-body">
                                        <ul class="list-group-options list-group">
                                            {% for item in attribute.terms %}
                                            <li class="list-group-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="cinsiyet-{{item.id}}" name="cinsiyet" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                    <label class="custom-control-label" for="cinsiyet-{{item.id}}"> {{item.name}}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                                <a href="#" data-term="cinsiyet">{{'Seçimi Temizle'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if attribute.slug == "pa_renk" %}
                            <!-- Color -->
                            <div class="product-filter-item card">
                                <div class="card-header show-arrow no-border" id="colorOptionsHeader">
                                    <h5 class="title">
                                        {% set counter = 0 %}
                                        {% for item in attribute.terms if item.active %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        <a href="#" data-bs-toggle="collapse" data-target="#colorOptions" aria-expanded="false" aria-controls="colorOptions">
                                           {{attribute.name}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                        </a>
                                    </h5>
                                    <div class="action"></div>
                                </div>
                                <div id="colorOptions" class="product-filter-item-collapse collapse" aria-labelledby="colorOptionsHeader" data-parent="#product-filters">
                                    <div class="product-filter-item-body card-body">
                                        <ul class="list-group-options list-group">
                                            {% for item in attribute.terms|sort %}
                                            <li class="list-group-item">
                                                <div class="custom-control custom-checkbox {% if item.color_image %}color-image{% endif %}">
                                                    <input type="checkbox" id="renk-{{item.id}}" name="renk" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                    <label class="custom-control-label" for="renk-{{item.id}}" title="{{item.name}}" data-content="<img src='{{item.color_image}}' class='img-fluid'/>"> {{item.name}}</label>
                                                    <style>#renk-{{item.id}} + label:before{background-color:{{item.color}};background-image:url({{item.color_image}});background-size:cover;border-color:{{item.color}};} #renk-{{item.id}}:checked + label:before{background-color:{{item.color}};border-color:{{item.color}};}</style>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                                <a href="#" data-term="renk">{{'Seçimi Temizle'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if attribute.slug == "pa_materyal" %}
                            <!-- Materials -->
                            <div class="product-filter-item card">
                                <div class="card-header show-arrow no-border" id="materialOptionsHeader">
                                    <h5 class="title">
                                        {% set counter = 0 %}
                                        {% for item in attribute.terms if item.active %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        <a href="#" data-bs-toggle="collapse" data-target="#materialOptions" aria-expanded="false" aria-controls="materialOptions">
                                           {{attribute.name}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                        </a>
                                    </h5>
                                    <div class="action"></div>
                                </div>
                                <div id="materialOptions" class="product-filter-item-collapse collapse" aria-labelledby="materialOptionsHeader" data-parent="#product-filters">
                                    <div class="product-filter-item-body card-body">
                                        <ul class="list-group-options list-group">
                                            {% for item in attribute.terms|sort %}
                                            <li class="list-group-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="materyal-{{item.id}}" name="materyal" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                    <label class="custom-control-label" for="materyal-{{item.id}}"> {{item.name}}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                                <a href="#" data-term="materyal">{{'Seçimi Temizle'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if attribute.slug == "pa_tas" %}
                            <!-- Stones -->
                            <div class="product-filter-item card">
                                <div class="card-header show-arrow no-border" id="stoneOptionsHeader">
                                    <h5 class="title">
                                        {% set counter = 0 %}
                                        {% for item in attribute.terms if item.active %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        <a href="#" data-bs-toggle="collapse" data-target="#stoneOptions" aria-expanded="false" aria-controls="stoneOptions">
                                           {{attribute.name}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                        </a>
                                    </h5>
                                    <div class="action"></div>
                                </div>
                                <div id="stoneOptions" class="product-filter-item-collapse collapse" aria-labelledby="stoneOptionsHeader" data-parent="#product-filters">
                                    <div class="product-filter-item-body card-body">
                                        <ul class="list-group-options list-group">
                                            {% for item in attribute.terms|sort %}
                                            <li class="list-group-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="tas-{{item.id}}" name="tas" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                    <label class="custom-control-label" for="tas-{{item.id}}"> {{item.name}}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                                <a href="#" data-term="tas">{{'Seçimi Temizle'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if attribute.slug == "pa_beden" %}
                            <!-- Sizes -->
                            <div class="product-filter-item card">
                                <div class="card-header show-arrow no-border" id="sizeOptionsHeader">
                                    <h5 class="title">
                                        {% set counter = 0 %}
                                        {% for item in attribute.terms if item.active %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        <a href="#" data-bs-toggle="collapse" data-target="#sizeOptions" aria-expanded="false" aria-controls="sizeOptions">
                                           {{attribute.name}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                        </a>
                                    </h5>
                                    <div class="action"></div>
                                </div>
                                <div id="sizeOptions" class="product-filter-item-collapse collapse" aria-labelledby="sizeOptionsHeader" data-parent="#product-filters">
                                    <div class="product-filter-item-body card-body">
                                        <ul class="list-group-options list-group">
                                            {% for item in attribute.terms|sort %}
                                            <li class="list-group-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="beden-{{item.id}}" name="beden" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                    <label class="custom-control-label" for="beden-{{item.id}}"> {{item.name}}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                                <a href="#" data-term="beden">{{'Seçimi Temizle'|trans}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}

                        <!-- Price -->
                        <div class="product-filter-item card">
                            <div class="card-header show-arrow no-border" id="priceOptionsHeader">
                                <h5 class="title">
                                    {% set counter = 0 %}
                                    {% for item in category_price_set if item.active %}
                                        {% set counter = counter + 1 %}
                                    {% endfor %}
                                    <a href="#" data-bs-toggle="collapse" data-target="#priceOptions" aria-expanded="true" aria-controls="priceOptions">
                                       {{'FİYAT'|trans}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                    </a>
                                </h5>
                                <div class="action"></div>
                            </div>
                            <div id="priceOptions" class="product-filter-item-collapse collapse" aria-labelledby="priceOptionsHeader" data-parent="#product-filters">
                                <div class="product-filter-item-body card-body">
                                    <div class="price-range">
                                        <div class="input-group">
                                            {% set min_price = "" %}
                                            {% set max_price = "" %}
                                            {% if query_vars %}
                                                {% for query_var in query_vars if query_var.slug == "fiyat_araligi" %}
                                                    {% set fiyat_araligi = function('explode', '|', query_var.terms[0] ) %}
                                                    {% set min_price = fiyat_araligi[0] %}
                                                    {% set max_price = fiyat_araligi[1] %}
                                                {% endfor %}
                                            {% endif %}
                                            <input type="text" class="form-control" name="fiyat_min" placeholder="Min." aria-label="Min." aria-describedby="price-filter" value="{{min_price}}">
                                            <input type="text" class="form-control" name="fiyat_max" placeholder="Max." aria-label="Max." aria-describedby="price-filter" value="{{max_price}}">
                                            <div class="input-group-append">
                                                <a href="#" class="btn btn-primary" type="button" id="price-filter"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if category_price_set %}
                                    <ul class="list-group-options list-group">
                                        {% for item in category_price_set %}
                                        <li class="list-group-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="fiyat-{{loop.index}}" name="fiyat" class="custom-control-input" value="{{item.min}}|{{item.max}}" {% if item.active %}checked{% endif %}>
                                                <label class="custom-control-label" for="fiyat-{{loop.index}}"> {{item.min}} - {{item.max}}</label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                            <a href="#" data-term="fiyat">{{'Seçimi Temizle'|trans}}</a>
                                        </li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Choices -->
                        <div class="product-filter-item card">
                            <div class="card-header show-arrow no-border" id="choiceOptionsHeader">
                                <h5 class="title">
                                    {% set counter = 0 %}
                                    {% for item in category_choices if item.active %}
                                        {% set counter = counter + 1 %}
                                    {% endfor %}
                                    <a href="#" data-bs-toggle="collapse" data-target="#choiceOptions" aria-expanded="true" aria-controls="choiceOptions">
                                       {{'ÖZEL SEÇİMLER'|trans}} <span class="count">{% if counter > 0 %}({{counter}}){% endif %}</span>
                                    </a>
                                </h5>
                                <div class="action"></div>
                            </div>
                            <div id="choiceOptions" class="product-filter-item-collapse collapse" aria-labelledby="choiceOptionsHeader" data-parent="#product-filters">
                                <div class="product-filter-item-body card-body">
                                    <ul class="list-group-options list-group">
                                        {% for item in category_choices %}
                                        <li class="list-group-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="durum-{{loop.index}}" name="durum" class="custom-control-input" value="{{item.slug}}" {% if item.active %}checked{% endif %}>
                                                <label class="custom-control-label" for="durum-{{loop.index}}"> {{item.name}}</label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="list-group-item remove-choices {% if counter == 0 %}d-none{% endif %}">
                                            <a href="#" data-term="durum">{{'Seçimi Temizle'|trans}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
</div>