{% if message.post_id  and sender.is_applied(message.post_id) %}
    {% set message_url = function('get_permalink', message.post_id) ~ "#messages" %}
{% else %}
    {% set message_url = base_urls.messages ~ message.id ~ "/chat/" ~ sender.id ~ "/" %}
{% endif %}
<div class="tease-notification  d-flex align-items-center {% if message.seen %}seen{% endif %}" id="message-{{message.id}}">
	<div class="row align-items-center w-100">
        <div class="col-profile col-auto">
            {% include "user/tease.twig" with { size: "xs", user_item: sender, class: "m-0" } %}
        </div>
        <div class="col-message col ps-5">
            <a href="{{message_url}}" class="d-flex flex-grow-1 align-items-start btn-loading-page flex-column lh-1">
                {% if message.post_id %}
                    <strong class="d-block mb-0 text-primary mb-1">{{function('get_the_title', message.post_id)}}</strong>
                {% endif %}
                {% if message.message %}
                    <small class="d-block text-muted mt-0">{{message.message}}</small>
                {% endif %}
            </a>
        </div>
        <div class="col-auto text-end">
            {% if message.new_messages > 0 %}
                <a href="{{message_url}}">
                    <div class="text-success">{{message.new_messages}} New Messages</div>
                </a>
            {% endif %}
            {% if message.new_messages %}
                {{user.get_local_date(message.time, sender.get_timezone(), user.get_timezone())|time_ago}}
            {% else %}
                 {{message.time|time_ago}}
            {% endif %}
        </div>
    </div>
</div>