<div class="controls">
      <div class="clndr-previous-button">&lsaquo;</div><div class="month">{{month}} {{year}}</div><div class="clndr-next-button right-align">&rsaquo;</div>
</div>

<div class="days-container">
    <div class="days">
        <div class="headers">
            {% for day in daysOfTheWeek %}
                <div class="day-header">{{day}}</div>
            {% endfor %}
        </div>
        <div class="list-days">
            {% for day in days %}
                <div class="{{day.classes}}" id="{{day.id}}">{{day.day}}</div>
            {% endfor %}
        </div>
    </div>
    {#<div class="events">
        <div class="headers">
            <div class="x-button">x</div>
            <div class="event-header">EVENTS</div>
        </div>
        <div class="events-list">
            {% for event in eventsThisMonth %}
                <div class="event">
                    <a href="{{event.url}}"><%= moment(event.date).format('MMMM Do') %>: {{event.title}}</a>
                </div>
            {% endfor %}
        </div>
    </div>#}
</div>