{% block sidebar_toggler %}
<button type="button" class="sidebar-toggler btn btn-base" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-label="Toggle menu">
    {{page_settings.offcanvas.title}} <i class="fa fa-angle-right ms-2"></i>
</button>
{% endblock %}

{% block sidebar %}
<div class="{{function("acf_offcanvas_classes", page_settings)}} offcanvas-sidebar offcanvas-{{page_settings.offcanvas.position}} {% if not page_settings.offcanvas.individual %}offcanvas-{{page_settings.offcanvas.size}}{% else %}offcanvas{% endif %}" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="true" data-bs-scroll="true">
    <div class="offcanvas-header position-absolute" style="z-index:1;right:0;">
        <button type="button" class="btn-close btn-close-white opacity-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-label="{{translate('Kapat')}}"></button>
    </div>
    <div class="offcanvas-body d-block sticky-top">
        {% set menu_items = function("get_root_menu_for_page", page_settings.offcanvas.menu, page_settings.offcanvas.menu_item) %}
        {% if menu_items %}
            {% include "navigation/menu-sidebar.twig" with { menu: menu_items.items, menu_level: 0, nodes: menu_items.nodes } %}
        {% endif %}
    </div>
</div>
{% endblock %}