
<li class="list-group-item notification-item infinite-item {% if post.seen %}seen{% endif %}" data-type="{{type}}" data-id="{{post.id}}">
    <div class="product-tease py-2">
        <a href="{{post.url}}" title="{{post.title}}" class="btn-loading-page d-flex">
            {{post.sender.image}}
            <div class="detail">
               {#{post.title}#}
                <div class="title">
                    {{post.sender.name}}
                </div>
                <div class="description">
                    {{post.message|truncate(8)}}
                    <small class="date">{{post.time}}</small>
                </div>
            </div>
            <div class="action">

            </div>
        </a>
    </div>
</li>