{#
  Product Filters Offcanvas Template
  
  Desteklenen layout'lar:
    - default    : Offcanvas (mobilde toggle button, büyük ekranda sidebar)
    - horizontal : Sayfanın üstünde yatay filtre alanı
#}

{% block sidebar_toggler %}
    {# Sadece default layout'ta ve mobilde göster #}
    {% if not page_settings.offcanvas.layout or page_settings.offcanvas.layout != "horizontal" %}
        <button type="button"
                class="sidebar-toggler btn btn-outline-secondary btn-sm d-flex align-items-center gap-2"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas-product-filters-{{ page_settings.offcanvas.id }}"
                aria-controls="offcanvas-product-filters-{{ page_settings.offcanvas.id }}">
            <i class="fa-regular fa-sliders"></i>
            {% if page_settings.offcanvas.title %}{{ page_settings.offcanvas.title }}{% endif %}
        </button>
    {% endif %}
{% endblock %}


{% block sidebar %}
    {# individual=false → base.twig row içine girer, sidebar olarak render edilir #}
    {% if not page_settings.offcanvas.layout or page_settings.offcanvas.layout != "horizontal" %}
        {% if not page_settings.offcanvas.individual %}
            <div class="{{ function('acf_offcanvas_classes', page_settings) }} sidebar-col">
                <div class="sidebar sticky-lg-top pt-3">
                    {% set shortcode = '[yith_wcan_filters slug="' ~ page_settings.offcanvas.filter_preset ~ '"]' %}
                    {{ shortcode|shortcodes }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}


{% block offcanvas %}
    {# individual=true → base.twig body'ye eklenir, gerçek Bootstrap offcanvas #}
    {% if not page_settings.offcanvas.layout or page_settings.offcanvas.layout != "horizontal" %}
        {% if page_settings.offcanvas.individual %}
            <div class="offcanvas offcanvas-{{ page_settings.offcanvas.position|default('start') }}"
                 tabindex="-1"
                 id="offcanvas-product-filters-{{ page_settings.offcanvas.id }}"
                 data-bs-keyboard="true"
                 data-bs-backdrop="true"
                 data-bs-scroll="false">
                <div class="offcanvas-header border-bottom">
                    {% if page_settings.offcanvas.title %}
                        <h5 class="offcanvas-title fw-semibold">{{ page_settings.offcanvas.title }}</h5>
                    {% endif %}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="offcanvas"
                            aria-label="{{ translate('Kapat') }}"></button>
                </div>
                <div class="offcanvas-body align-items-start justify-content-start">
                    {% set shortcode = '[yith_wcan_filters slug="' ~ page_settings.offcanvas.filter_preset ~ '"]' %}
                    {{ shortcode|shortcodes }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}


{% block before_container %}
    {# Horizontal layout: sayfanın üstünde yatay filtre alanı #}
    {% if page_settings.offcanvas.layout == "horizontal" %}
        <div class="product-filters-horizontal border-bottom mb-4 pb-3">
            {% if page_settings.offcanvas.title %}
                <h5 class="fw-semibold mb-3">{{ page_settings.offcanvas.title }}</h5>
            {% endif %}
            {% set shortcode = '[yith_wcan_filters slug="' ~ page_settings.offcanvas.filter_preset ~ '"]' %}
            {{ shortcode|shortcodes }}
        </div>
    {% endif %}
{% endblock %}
