{% if atts.same_page %}
    {% set page_view = 0 %}
    {% if atts.post_type_pagination or atts.post_type_hide_content %}
        {% if atts.post_type_pagination and atts.post_type_hide_content %}
           {% set page_view = 3 %}
        {% elseif atts.post_type_hide_content %}
           {% set page_view = 2 %}
        {% elseif atts.post_type_pagination %}
           {% set page_view = 1 %}
        {% endif %}
    {% endif %}
    {# set url = remove_params(current_url) ~ "/search/" ~ (page_view?page_view ~ "/":"") ~ (atts.post_type != "search"?atts.post_type ~ "/":"") #}
    {% set url = post.link ~ "search/" ~ (page_view>0?page_view ~ "/":"") ~ (atts.post_type != "search"?atts.post_type ~ "/":"") %}
{% else %}
    {% set url = site.url ~ "/search/" %}
{% endif %}

{% set search_param = "s" %}
{% set class = "" %}
{% if atts.post_type != "search" %}
    {% set search_param = "q" %}
    {% set class = "form-search-custom" %}
{% endif %}

<form class="form-search {{class}} form form-validate mt-5 mb-3 form-group rounded-3 border" action="{{url}}" role="form" method="post">
    {% set search_term = "" %}
    {% set query_var = function('get_query_var','q') %}
    <div class="input-group inout-group-{{atts.size}} bg-white rounded-3 overflow-hidden p-2">
        <input type="text" class="form-control border-0" name="{{search_param}}" placeholder="{{atts.placeholder|default(translate("Keyword"))}}" aria-label="{{atts.placeholder|default(translate("Keyword"))}}" aria-describedby="search-button-offcanvas" autocomplete="off" value="{{keyword|urldecode}}" data-minlength="3" minlength="3" data-msg="{{__("Please enter 3 characters at least", "mdmco")}}" required>
        <input type="hidden" name="post_type" value="{{atts.post_type=="search"?"search":atts.post_type}}" />
        <input type="hidden" name="post_type_pagination" value="{{atts.post_type_pagination}}" />
        <button class="btn-submit btn btn-secondary px-3 rounded-3" type="submit" id="search-button-offcanvas">{{translate("SEARCH")}}</button>
    </div>
</form>

{% if url_query_vars["q"] and not found_posts %}
    {% set did_you_mean = function("did_you_mean_search", url_query_vars["q"], 2) %}
    {% if did_you_mean %}
        <div class="text-center mb-5">{{translate("Aramak istediğiniz %s olabilir mi?")|replace({"%s": "<strong><a href='" ~ url ~ did_you_mean ~ "/' class='text-primary text-underline btn-loading-page'>" ~ did_you_mean ~ "</a></strong>"})}}</div>
    {% endif %}
{% endif %}

{% if atts.history in ["user", "popular"] and not did_you_mean%}
    <div class="search-history position-relative text-center" data-ajax-method="get_search_history" data-url="{{url}}" data-history="{{atts.history}}" data-post_type="{{atts.post_type}}" data-url="{{url}}" data-class="{{atts.history_button}}"></div>
{% endif %}