{#
  Title: Icons
  Description: İcon listesi
  Category: saltblocks
  Icon: images-alt
  Keywords: button link
  Mode: auto
  Align: center
  PostTypes: 
  SupportsAlign: left right center wide full
  SupportsAlignfields: true
  SupportsMode: true
  SupportsMultiple: true
  SupportsAnchor: true
  SupportsCustomClassName: true
  SupportsReusable: true
  SupportsFullHeight: true
#}
{% set block_main_field = ["icons"] %}
{% set block_extras = { "container" : "z-1 position-relative" } %}
{% extends "blocks/_block-container.twig" %}

{% block block_content %}

    {% set align_item = function("block_align", fields.align_item, true, fields.slider) %}

    {% if fields.slider %}
        <div class="swiper-slider swiper {{block_meta.row.class}}" {{block_meta.row.attrs}}>
             <div class="swiper-wrapper">
    {% else %}
        <div class="row {{block_meta.row.class}} w-100" {{block_meta.row.attrs}}>
    {% endif %}

        {% for key, item in fields.icons %}

            <div class="{% if fields.slider %}swiper-slide{% else %}col{% endif %}">

                {% set link_start = "" %}
                {% if item.content.modal %}
                    {% set modal_settings = item.content.modal_settings %}

                    {{ modal_settings|print_r }}

                    {% set attrs = " data-ajax-method='" ~ modal_settings.type ~ "' " ~ (modal_settings.size == "fullscreen"?"data-fullscreen='true' ":"data-size='" ~ modal_settings.size ~ "' ") %}
                    {% set attrs = attrs ~ " data-close='" ~ modal_settings.close ~ "' " %}
                    {% set attrs = attrs ~ " data-scrollable='" ~ modal_settings.scrollable ~ "' " %}
                    {% set attrs = attrs ~ " data-class='" ~ modal_settings.class ~ "' " %}
                    {% set attrs = attrs ~ (modal_settings.title != "" ? " data-title='" ~ modal_settings.title ~ "' ":"") %}

                    {% if modal_settings.type in ["page_modal", "form_modal"] %}
                        {% set attrs = attrs ~ " data-id='" ~ modal_settings.id ~ "' " %}
                    {% endif %}

                    {% if modal_settings.type in ["iframe_modal"] %}
                        {% set attrs = attrs ~ " data-height='" ~ modal_settings.height ~ "' " %}
                        {% if modal_settings.content_type == "url" %}
                            {% set attrs = attrs ~ " data-url='" ~ modal_settings.url ~ "' " %}
                        {% endif %}
                        {% if modal_settings.content_type == "file" %}
                            {% set attrs = attrs ~ " data-url='" ~ modal_settings.file ~ "' " %}
                        {% endif %}
                    {% endif %}

                    {% if modal_settings.type in ["map_modal"] %}
                        {% set modal_args = [{"modal-body": "ratio ratio-" ~ modal_settings.ratio ~ " overflow-hidden"}]|json_attr %}
                        {% set attrs = attrs ~ " data-modal='" ~ modal_args ~ "' " %}
                        {% if modal_settings.location_type == "static" %}
                            {% set attrs = attrs ~ " data-lat='" ~ modal_settings.lat ~ "' data-lng='" ~ modal_settings.lng ~ "' " %}
                        {% endif %}
                        {% if modal_settings.location_type == "dynamic" %}
                            {% set raw_posts = modal_settings.posts %}
                            {% if raw_posts is empty %}
                                {% set final_posts = [] %}
                            {% elseif raw_posts is iterable %}
                                {% set final_posts = raw_posts %}
                            {% else %}
                                {% set final_posts = [raw_posts] %}
                            {% endif %}
                            {% set posts_json = final_posts|json_encode|escape('html_attr') %}
                            {% set attrs = attrs ~ " data-ids='" ~ posts_json ~ "' " %}
                        {% endif %}
                        {% if modal_settings.marker_popup %}
                            {% set popup_args = {"type": modal_settings.marker_popup_type, "title": modal_settings.marker_popup_title }|json_attr %}
                            {% set attrs = attrs ~ " data-popup='" ~ popup_args ~ "' " %}
                        {% endif %}
                    {% endif %}

                    {% set link_start = "<a href='#' class='w-100' "  ~ attrs ~ " title='" ~ (item.link_text|default(item.title)) ~"'>" %}

                {% elseif item.content.url %}

                    {% set is_external = item.content.url.target == "_blank" ? true : false %}
                    {% set attrs = is_external?"target='_blank' rel='nofollow'":"" %}
                    {% set link_start = "<a href='" ~ item.content.url.url ~ "' class='" ~ (not is_external?"btn-loading-page":"") ~" d-flex flex-column" ~ (fields.reverse?"-reverse":"") ~ " w-100' "  ~ attrs ~ " title='" ~ (item.link_text|default(item.title)) ~"'>" %}

                {% endif %}

                <div class="icon-{{ key }} d-flex flex-column {% if fields.reverse and not link_start %}flex-column-reverse{% endif %} {{align_item}}" data-mh="icon-list-{{block_meta.id}}">
                    
                    {% if link_start  %}
                        {{ link_start }}
                    {% endif %}

                        {% if fields.template and fields.template != "default" %}
                            {% include fields.template ~ ".twig" with { post: item, fields: fields, index: key } %}
                        {% else %}

                            {% if item.icon.image %}
                            <div class="icon w-100 {% if fields.reverse %}{% if item.icon.styles.margin and item.icon.styles.margin != "default" %}mt-{{ item.icon.styles.margin }}{% endif %}{% else %}{% if item.icon.styles.margin and item.icon.styles.margin != "default" %}mb-{{ item.icon.styles.margin }}{% endif %}{% endif %}" {{function("block_aos_delay", block_meta.aos, (50*loop.index0))}}>
                                {% if function('get_extension', item.icon.image.url) == "svg" %}
                                    {{item.icon.image.url|inline_svg({"class": "image img-fluid", "height": function("acf_units_field_value", item.icon.styles.height)} )}}
                                {% else %}
                                    <img {% if not is_preview %}data-{% endif %}src="{{item.icon.image.sizes.medium}}" class="image img-fluid shadow-sm {% if not is_preview %}lazy{% endif %}" alt="{{ item.icon.image.alt }}" width="{{item.icon.image.width}}" height="{{item.icon.image.height}}"/>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if item.content.description %}
                                {% set aos_clone = "" %}
                                {% if block_meta.aos != "" and item.icon.image %}
                                    {% set aos_clone = function("block_aos_animation", block_meta.aos, "fade") %}
                                    {% set aos_clone = function("block_aos_delay", aos_clone, 100 + (50*loop.index0)) %}
                                {% else %}
                                    {% set aos_clone = function("block_aos_delay", block_meta.aos, (50*loop.index0)) %}
                                {% endif %}
                                <div class="description w-100" {{aos_clone}}>{{ item.content.description }}</div>
                            {% endif %}

                        {% endif %}
                        
                    {% if link_start %}
                        </a>
                    {% endif %}
                </div>

            </div>

        {% endfor %}

    {% if fields.slider %}
        </div>
    </div>
    <div class="swiper-pagination mt-5"></div>
    {% else %}
        </div>
    {% endif %}

    <style type="text/css">
    {% for key, item in fields.icons %} 
        {% if slide.acf_fc_layout == "static" %}
            {% if slide.add_content and slide.content.title_color %}
                #{{block_meta.id}} .slide-{{index + 1}} .title{
                    color:{{ slide.content.title_color }}!important;
                }
            {% endif %}
            {% if not slide.content.title_color %}
                #{{block_meta.id}} .slide-light .title{
                    color:{{ fields.slider_settings.color_dark }}!important;
                }
                #{{block_meta.id}} .slide-dark .title{
                    color:{{ fields.slider_settings.color_light }}!important;
                }
            {% endif %}
            #{{block_meta.id}} .slide-dark .description{
                color:{{ fields.slider_settings.color_light }}!important;
            }
            #{{block_meta.id}} .slide-light .description{
                color:{{ fields.slider_settings.color_dark }}!important;
            }
        {% endif %}
    {% endfor %}
    </style>

{% endblock%}